# TODO: Agregar variables de entorno cuando se integre backend
# VITE_EMAILJS_SERVICE_ID=your_service_id
# VITE_EMAILJS_TEMPLATE_ID=your_template_id
# VITE_EMAILJS_PUBLIC_KEY=your_public_key
# VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/your_id